body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efe9d9;
}

li, a{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

h3{
  font-size: 1.3em;
}

.fondo{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container{
  margin: 0;
  width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header"
                       "hero "
                       "main "
                       "cursos "
                       "clases-especiales "
                       "eventos "
                       "galeria"
                       "contacto"
                       "footer ";
}

.item{
  background: lightblue;
  padding: 2px;
  border: 1px solid red;
}

.header{
  grid-area: header;
  height: auto;
  width: 1024;
  background-color: #7d1257;
  padding: .7em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hero{
  grid-area: hero;
  position: relative;
  display: inline-block;
  text-align: center;
  height: 250px;
}

.main{
  grid-area: main;
  height: 300px;
  padding: 20px;
  background: #7d1257;
}

.cursos{
  grid-area: cursos;
  height: 300px;
  padding: 20px;
}

.clases-especiales{
  grid-area: clases-especiales;
  height: 600px;
  padding: 20px;
}

.eventos{
  grid-area: eventos;
  height: 600px;
  padding: 20px;
}

.galeria{
  display: grid;
  grid-area: galeria;
  height: 800px;
  padding: 20px;
  grid-template-rows: 10% 90%;
  grid-template-areas: "galeria-titulo"
                       "galeria-container";
}

.contacto{
  grid-area: contacto;
  height: 100px;
  padding: 20px;
  background-color: #7d1257;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

.footer{
  display: flex;
  grid-area: footer;
  font-size: 1.2em;
  height: 50px;
  padding: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #7d1257;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;
  color: #ffdece;
  border-top: 1px solid #272622;
}

/* ----- HEADER ----- */

.header-container{
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas: "logo redes"
                       "logo menu";
  border-radius: 20px;
}

.logo{
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7d1257;
  border-radius: 20px;
}

.redes{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: redes;
  background-color: #7d1257;
  border-radius: 20px;
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: menu;
  background-color: #7d1257;
  border-radius: 20px;
}


/* ----- HERO ----- */

.hero-date{
  grid-area: hero-date;
}

/* ----- MAIN ----- */

.main-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 60%;
  height: inherit;
  grid-template-areas:  "main-titulo main-img"
                        "main-descripcion main-img";
  color: #ffdece;
}

.main-container h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: 'Allura', cursive;
}

.main-container p{
  font-size: 1.3em;
  margin: 10px;
  font-family: cursive;
}

.main-container img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.main-titulo{
  grid-area: main-titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-descripcion{
  grid-area: main-descripcion;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.main-img{
  grid-area: main-img;
  overflow: hidden;
}


/* ----- CURSOS ----- */

.cursos-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 18% 82%;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas:  "curso-titulo curso-titulo curso-titulo curso-titulo"
                        "curso1 curso2 curso3 curso4";
}

.curso-titulo{
  grid-area: curso-titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #331f0a;
}

.curso1{
  grid-area: curso1;
}

.curso2{
  grid-area: curso2;
}

.curso3{
  grid-area: curso3;
}

.curso4{
  grid-area: curso4;
}

/* ----- CLASES ESPECIALES ----- */

.clases-especiales-container{
  display: grid;
  grid-template-rows: 13% 82%;
  height: inherit;
  grid-template-areas:  "clases-especiales-titulo"
                        "clases-img";
}

.clases-especiales-titulo{
  grid-area: clases-especiales-titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #331f0a;
}

.clases-img{
  grid-area: clases-img;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  padding: 20px;

  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 42% 42% 10%;
  font-size: 1.4em;
  grid-gap: 10px;
  grid-template-areas:  "clases-img1 clases-img2 clases-img3"
                        "clases-img4 clases-img5 clases-img6"
                        "clases-descripcion clases-descripcion clases-descripcion";
  border: 3px solid rgba(99,60,31, .8);
  border-radius: 10px;
  background: #efe3c7;
}

.clases-img1{
  grid-area: clases-img1;
}

.clases-img2{
  grid-area: clases-img2;
}

.clases-img3{
  grid-area: clases-img3;
}

.clases-img4{
  grid-area: clases-img4;
}

.clases-img5{
  grid-area: clases-img5;
}

.clases-img6{
  grid-area: clases-img6;
}

.clases-descripcion{
  grid-area: clases-descripcion;
  text-align: center;
}

.clases-especiales img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* ----- EVENTOS ----- */

.eventos-container{
  display: grid;
  grid-template-rows: 18% 82%;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas:  "evento-titulo"
                        "evento1";
}

.evento-titulo{
  grid-area: evento-titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #331f0a;
}

.evento1{
  grid-area: evento1;
  height: 100%;

  display: grid;
  grid-template-rows: 9% 50% 25% 8%;
  font-size: 1.5em;
  grid-gap: 5px;
  grid-template-areas:  "evento1-sub-titulo"
                        "evento1-img"
                        "evento1-descripcion"
                        "evento1-link";
  border: 3px solid rgba(99,60,31, .8);
  border-radius: 10px;
  background: #efe3c7;
}

.evento1-img{
  grid-area: evento1-img;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evento1-sub-titulo{
  grid-area: evento1-sub-titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.evento1-descripcion{
  grid-area: evento1-descripcion;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75em;
}

.evento1-link{
  grid-area: evento1-link;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: underline;
}


.evento1 img{
  width: 80%;
  height: 90%;
  border-radius: 5px;
}

/* ----- GALERIA ----- */

.galeria-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  height: inherit;
  grid-template-areas:"galeria-title"
                      "galeria-cuadros";
}

.galeria-cuadros{
  grid-area: galeria-cuadros;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 48% 48%;
  justify-content: center;
  grid-gap: 30px;
  margin: 2px;
  grid-template-areas:"galeria1 galeria2 galeria3"
                      "galeria4 galeria5 galeria6";
}

.galeria-titulo{
  grid-area: galeria-title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #331f0a;
}

.galeria1{
  grid-area: galeria1;
  overflow: hidden;
  border: 3px solid rgba(99,60,31, .8);
  border-radius: 5px;
  background: #efe3c7;
}

.galeria2{
  grid-area: galeria2;
  overflow: hidden;
  border: 3px solid rgba(99,60,31, .8);
  border-radius: 5px;
    background: #efe3c7;
}

.galeria3{
  grid-area: galeria3;
  border: 3px solid rgba(99,60,31, .8);
  border-radius: 5px;
    background: #efe3c7;
}

.galeria4{
  grid-area: galeria4;
  border: 3px solid rgba(99,60,31, .8);
  border-radius: 5px;
    background: #efe3c7;
}

.galeria5{
  grid-area: galeria5;
  border: 3px solid rgba(99,60,31, .8);
  border-radius: 5px;
    background: #efe3c7;
}

.galeria6{
  grid-area: galeria6;
  border: 3px solid rgba(99,60,31, .8);
  border-radius: 5px;
    background: #efe3c7;
}

.galeria-cuadros img{
  width: 80%;
  height: 90%;
}

.galeria-img{
    grid-area: galeria-img;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-sub{
    grid-area: galeria-sub;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-button{
    grid-area: galeria-description;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-button button{
  height: 2em;
  width: 6em;
  box-shadow: inset -1px -1px rgba(0,0,0, .4);
  border: none;
  border-radius: 5px;
  background: #7d1257;
  color: white;
}

/* ----- CONTACTO ----- */

.contacto-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  grid-gap: 2px;
  height: inherit;
  color: #ffdece;
  grid-template-areas: "contacto-titulo contacto-titulo"
                        "contacto1 contacto2";
}

.contacto-titulo{
  grid-area: contacto-titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contacto1{
  grid-area: contacto1;
  font-size: 1.2em;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto2{
  grid-area: contacto2;
  font-size: 1.2em;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-container pre{
  font-family: arial;
}

/* ----- MENU ----- */

.menu-container{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas: "menu1 menu2 menu3 menu4 menu5";
}

.menu1{
  grid-area: menu1;
}

.menu2{
  grid-area: menu2;
}

.menu3{
  grid-area: menu3;
}

.menu4{
  grid-area: menu4;
}

.menu5{
  grid-area: menu5;
}

/* ----- REDES ----- */

.redes-container{
  display: grid;
  grid-template-columns: 20px 20px;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas: "redes1 redes2";
}

.redes1{
  grid-area: redes1;
  margin: 5px;
}

.redes2{
  grid-area: redes2;
  margin: 5px;
}

/* ----- Diseño ----- */

.logo h1{
  margin: 0;
  padding: 0;
  font-size: 4em;
  text-align: center;
  font-family: 'Allura', cursive;
  color: #ffdece;
}

.menu a{
    color: #ffdece;
    font-size: 1.5em;
}

.hero-image{
  width: 100%;
  height: 250px;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Allura', cursive;
    font-size: 3em;
    color: #6d3920;
}

.centrado h2{
  margin: 0;
}

.footer a{
  color: #ffdece;
  text-decoration: underline;
}


/* ----- LOGO ----- */

.app-face {
	background: #65126f;
	border-radius: 9%;
	display: block;
	height: 30px;
	left: 50%;
	top: 50%;
	width: 30px;
  box-shadow: inset -.1em -.1em rgba(255,255,255, .1);
  border: 1px solid #651946;
}

.app-face:after {
	color: #ffffff;
	content: "f";
	display: flex;
	font-family: Facebook Letter Faces, Arial;
	font-size: 30px;
	font-weight: bold;
  justify-content: center;
}

.app-face:hover {
	-moz-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
	-webkit-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
	box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.90);
}

.instagram {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 25%;
  color: #fff8f3;
  font-size: 30px;
  line-height: 25px;
  vertical-align: middle;
  align-items: center;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #d64cb8 0%, #b7189c 5%, #de34e0 45%,#e627a9 60%,#a235f5 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  border: 1px solid #651946;
}

.instagram:hover {
	-moz-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
	-webkit-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
	box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.90);
}

/* ////////////////////////////////////////////////////// */

/* ----- VENTA.HTML ----- */

.container-venta-html{
  margin: 0;
  width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header"
                       "venta"
                       "contacto"
                       "footer ";
}

.venta{
  grid-area: venta;
  height: 1200px;
  padding: 20px;
}

.venta-container{
  margin: 0;
  width: 100%;
  display: grid;
  height: inherit;
  grid-gap: 10px;
  grid-template-columns: 100%;
  grid-template-rows: 5% 20% 20% 20% 20%;
  grid-template-areas: "venta-title"
                       "venta1"
                       "venta2"
                       "venta3"
                       "venta4";
}

.venta-title{
  grid-area: venta-title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  color: #331f0a;
}

.venta1{
  grid-area: venta1;
}

.venta2{
  grid-area: venta2;
}

.venta3{
  grid-area: venta3;
}

.venta4{
  grid-area: venta4;
}
