body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efe9d9;
}

li, a{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

.fondo{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container{
  margin: 0;
  width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  grid-template-areas: "header "
                       "hero "
                       "cursos "
                       "eventos "
                       "galeria"
                       "contacto"
                       "footer ";
}

.item{
  background: lightblue;
  padding: 2px;
  border: 1px solid red;
}

.header{
  grid-area: header;
  height: auto;
  width: 1024;
  background-color: #7d1257;
  border-radius: 20px;
  padding: .7em;
}

.hero{
  grid-area: hero;
  padding: 0;
  margin: 0;
  height: auto;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.cursos{
grid-area: cursos;
height: 300px;
padding: 30px;
}

.eventos{
grid-area: eventos;
height: 300px;
padding: 30px;
}

.galeria{
  display: grid;
  grid-area: galeria;
  height: 600px;
  padding: 30px;
  grid-template-rows: 10% 45% 45%;
  grid-template-areas: "contacto-container0"
                       "contacto-container1"
                       "contacto-container2";
}

.contacto{
  grid-area: contacto;
  height: 300px;
  padding: 20px;
}

.footer{
display: flex;
grid-area: footer;
height: 50px;
padding: 5px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
background-color: #7d1257;
text-align: center;
justify-content: space-between;
align-items: center;
padding-right: 1em;
padding-left: 1em;
color: #ffdece;
}

/* ----- HEADER ----- */

.header-container{
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas: "logo redes"
                       "logo menu";
  border-radius: 20px;
}

.logo{
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7d1257;
  border-radius: 20px;
}

.redes{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: redes;
  background-color: #7d1257;
  border-radius: 20px;
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: menu;
  background-color: #7d1257;
  border-radius: 20px;
}


/* ----- HERO ----- */

.hero-container{
  display: grid;
  grid-template-columns: 100%;
  height: inherit;
  grid-template-areas: "hero-date";
}

.hero-date{
  grid-area: hero-date;
}

/* ----- CURSOS ----- */

.cursos-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 85%;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas:  "curso-titulo curso-titulo curso-titulo curso-titulo"
                        "curso1 curso2 curso3 curso4";
}

.curso-titulo{
  grid-area: curso-titulo;
}

.curso1{
  grid-area: curso1;
}

.curso2{
  grid-area: curso2;
}

.curso3{
  grid-area: curso3;
}

.curso4{
  grid-area: curso4;
}

/* ----- EVENTOS ----- */

.eventos-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 85%;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas:  "evento-titulo evento-titulo"
                        "evento1 evento2";
}

.evento-titulo{
  grid-area: evento-titulo;
}

.evento1{
  grid-area: evento1;
}

.evento2{
  grid-area: evento2;
}

/* ----- GALERIA ----- */

.galeria-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  height: inherit;
  grid-template-areas:"galeria-title"
                      "galeria-cuadros";
}

.galeria-cuadros{
  grid-area: galeria-cuadros;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
  margin: 2px;
  grid-template-areas:"galeria1 galeria2 galeria3"
                      "galeria4 galeria5 galeria6";
}

.galeria-titulo{
  grid-area: galeria-title;
}

.galeria1{
  grid-area: galeria1;
  overflow: hidden;
}

.galeria2{
  grid-area: galeria2;
  overflow: hidden;
}

.galeria3{
  grid-area: galeria3;
}

.galeria4{
  grid-area: galeria4;
}

.galeria5{
  grid-area: galeria5;
}

.galeria6{
  grid-area: galeria6;
}

.galeria-cuadros img{
  width: 100%;
  object-fit: cover;
}

/* ----- CONTACTO ----- */

.contacto-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 85%;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas: "contacto-titulo contacto-titulo"
                        "contacto1 contacto2";
}

.contacto-titulo{
  grid-area: contacto-titulo;
}

.contacto1{
  grid-area: contacto1;
}

.contacto2{
  grid-area: contacto2;
}

/* ----- MENU ----- */

.menu-container{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas: "menu1 menu2 menu3 menu4 menu5";
}

.menu1{
  grid-area: menu1;
}

.menu2{
  grid-area: menu2;
}

.menu3{
  grid-area: menu3;
}

.menu4{
  grid-area: menu4;
}

.menu5{
  grid-area: menu5;
}

/* ----- REDES ----- */

.redes-container{
  display: grid;
  grid-template-columns: 20px 20px;
  grid-gap: 2px;
  height: inherit;
  grid-template-areas: "redes1 redes2";
}

.redes1{
  grid-area: redes1;
  margin: 5px;
}

.redes2{
  grid-area: redes2;
  margin: 5px;
}

/* ----- Diseño ----- */

.logo h1{
  margin: 0;
  padding: 0;
  font-size: 4em;
  text-align: center;
  font-family: 'Allura', cursive;
  color: #ffdece;
}

.menu a{
    color: #ffdece;
}

.menu a{
  font-size: 1.5em;
}

.hero-image{
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Allura', cursive;
    font-size: 2.5em;
    color: #6d3920;
}

.footer a{
  color: #ffdece;
  text-decoration: underline;
}


/* ----- LOGO ----- */

.app-face {
	background: #4360b6;
	border-radius: 9%;
	display: block;
	height: 25px;
	left: 50%;
	top: 50%;
	width: 25px;
  box-shadow: inset -.1em -.1em rgba(255,255,255, .1);
}

.app-face:after {
	color: #ffffff;
	content: "f";
	display: flex;
	font-family: Facebook Letter Faces, Arial;
	font-size: 25px;
	font-weight: bold;
  justify-content: center;
}

.app-face:hover {
	-moz-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
	-webkit-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
	box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.90);
}

.instagram {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 25%;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  vertical-align: middle;
  align-items: center;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.instagram:hover {
	-moz-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
	-webkit-box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.75);
	box-shadow: 0px 0px 7px rgba(255, 250, 250, 0.90);
}
